/*
declaration block: 

selector{
    property: value1;
    property2: value2;
    property3: value3
}
*/

body{
    background-color: rgb(3, 3, 16);
    color: blueviolet;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
}

h1{
    text-align: center;
    outline-style: dotted;
    outline-color: ghostwhite;

}

h2{
    text-align: center;
    outline-style: dotted;
    outline-color: ghostwhite;
}

o1{
    margin-left: 300px;
}

p{
    background-color: black;
    outline-style: solid;
    outline-color:aquamarine;
    outline-width: thick;
    opacity: 0.7;
}
